
.container__fementor {
    border: 1px solid red;
    height: 70vh;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
}

.container__fementor--inner {
    width: 100%;
    height: 90%;
    border: 1px solid yellow;
}

.container__fementor--left {
    width: 40%;
    height: 80%;
    border: 1px solid green;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

.container__fementor--img {
    flex-direction: column;
    justify-content: center;
}

.fementor__link {
    width: 100%;
}

img {
    object-fit: contain;  
    width: 100%;  
}

.container__fementor--right {
    width: 40%;
    height: 80%;
    border: 1px solid green;
    margin: auto;
    flex-direction: column;
}

.para--frontendmentor {
    text-align: left;
}

.container__fementor--navlink {
    height: 5vh;
    justify-content: center;
}