
.container__fe {
    border: 1px solid red;
    height: 70vh;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
}

.container__fe--inner {
    width: 100%;
    height: 90%;
    border: 1px solid yellow;
}

.container__fe--left {
    width: 40%;
    height: 80%;
    border: 1px solid green;
    margin: auto;
    flex-direction: column;
}

.container__fe--center {
    width: 40%;
    height: 80%;
    border: 1px solid green;
    margin: auto;
    flex-direction: column;
}

.container__fe--right {
    width: 40%;
    height: 80%;
    border: 1px solid green;
    margin: auto;
    flex-direction: column;
}

.container__fe--navlink {
    height: 5vh;
    justify-content: center;
}