
.container__header {
    width: 100%;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.container__logo {
    width: 20%;
    height: 100%;
}

.cn-logo {
    width: 100%;
}

.container__nav {
    width: 30%;
    height: 100%;
}

.nav__header {
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.container__nav--list {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}